<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.nanodegree.advait.findmyflight">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name="com.udacity.nanodegree.advait.findmyflight.view.FlightActivity"
            android:label="@string/title_activity_flight"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="findmyflight12345.herokuapp.com"
                    android:pathPattern="/findmyflight" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.udacity.nanodegree.advait.findmyflight.view.FlightDetailsActivity"
            android:label="@string/title_activity_flight_details"
            android:theme="@style/AppTheme.NoActionBar"/>
        <provider
            android:name="com.udacity.nanodegree.advait.findmyflight.persistence.FlightContentProvider"
            android:authorities="com.udacity.nanodegree.advait.findmyflight.persistence.FlightContentProvider"
            />
        <service android:name=".appwidget.UpdateWidgetService"/>
        <receiver
            android:icon="@android:drawable/ic_dialog_info"
            android:label="Find My Flight Widget"
            android:name=".appwidget.FlightWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/flight_widget_info" />
        </receiver>
    </application>

</manifest>